<div class="container-fluid">
    <div class="row">
        <div class="col col-xs-1 col-md-6">
            <!-- card 1 - Comida-->
            <div class="card shadow-sm" id="card1">
                <img src={{arrItem[0].pathImg}} alt="comida" width="100%" height="225" id="img1">
                <div class="card-body">
                    <p class="card-text" id="texto1">{{arrItem[0].titulo}}</p>
                </div>
            </div>
        </div>
        <div class="col col-xs-1 col-md-6">
            <!-- card 2 - Bebida -->
            <div class="card shadow-sm" id="card2">
                <img src={{arrItem[1].pathImg}} alt="bebida" width="100%" height="225" id="img2">
                <div class="card-body">
                    <p class="card-text" id="texto2">{{arrItem[1].titulo}}</p>
                </div>
            </div>
        </div>
    </div>
</div>