<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="../assets/img/logo.jpg" alt="logo" width="100" height="50">
        </a>
        <span class="badge badge-pill btn btn-primary">Itens no pedido: {{verificaTotalItens()}}</span>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a routerLink="pedido" class="nav-link" aria-current="cardapioPedido">Pedido</a>
            </li>
            <li class="nav-item">
                <a routerLink="comida" class="nav-link" aria-current="cardapioComidas">Comidas</a>
            </li>
            <li class="nav-item">
                <a routerLink="bebida" class="nav-link" aria-current="cardapioBebidas">Bebidas</a>
            </li>            
        </ul>
        <div class="d-flex">
            <a routerLink="" class="navbar-brand">NG FOOD</a>
        </div>
    </div>
</nav>