<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="../assets/logo.jpg" alt="logo" width="100" height="50">
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="cardapio">Cardápio</a>
            </li>
        </ul>
        <div class="d-flex">
            <a href="#" class="navbar-brand">NG FOOD</a>
        </div>
    </div>
</nav>
<h1>Hello World!!!</h1>
<button type="button" class="btn btn-primary">Botão Teste</button>

<footer class="footer mt-auto py-3 bg-light footerCustom">
    <div class="container">
      <span class="text-muted">2022 - NG FOOD - Develop by DevInHouse.</span>
    </div>
</footer>