<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="../assets/img/logo.jpg" alt="logo" width="100" height="50">
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="cardapio">Cardápio</a>
            </li>
        </ul>
        <div class="d-flex">
            <a href="#" class="navbar-brand">NG FOOD</a>
        </div>
    </div>
</nav>

<!--<h1>Hello World!!!</h1>
<button type="button" class="btn btn-primary">Botão Teste</button>-->
<div class="container-fluid">
    <div class="row">
        <div class="col col-xs-1 col-md-6">
            <!-- card 1 - Comida-->
            <div class="card shadow-sm">
                <img src="../assets/img/pizza.png" alt="comida" width="100%" height="225">
                <div class="card-body">
                    <p class="card-text">Comidinha gostosa</p>
                </div>
            </div>
        </div>
        <div class="col col-xs-1 col-md-6">
            <!-- card 2 - Bebida -->
            <div class="card shadow-sm">
                <img src="../assets/img/bebida.jpg" alt="bebida" width="100%" height="225">
                <div class="card-body">
                    <p class="card-text">Bebidinha geladda</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-light footerCustom">
    <div class="container">
      <span class="text-muted">2022 - NG FOOD - Develop by DevInHouse.</span>
    </div>
</footer>